.basket {
    &__overlay {
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.5;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    &__container {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        min-width: 385px;
        height: 100%;
        flex-direction: column;
        z-index: 15;
        background: #fff;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_text {
            font-size: 24px;
            line-height: 29px;
            margin: 30px 0 30px 30px;
        }
        &_button {
            box-sizing: content-box;
            margin: 0 30px 0 0;
            cursor: pointer;
            width: 25px;
            height: 25px;

            svg {
                rect {
                    stroke: #fd9250;
                }
                path {
                    fill: #fd9250;
                }
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-x: hidden;
    }

    &__button {
        position: relative;
        background: #9dd558;
        border-radius: 18px;
        margin: 0 30px 28px 30px;
        display: flex;
        padding: 18px 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        transition: 200ms ease-in-out;

        &:hover {
            background: #aef755;
        }

        &_text {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #fff;
        }

        &_image {
            position: absolute;
            right: 0;
            padding: 3px 34px 0 0;
        }
    }
}

.basket__button:active {
    .basket__button_image {
        transition: 200ms ease-in-out;
        transform: translateX(15px);
    }
}

.selected {
    &__product {
        &_item {
            display: flex;
            justify-content: center;
            height: 59px;
            width: 347px;
            border: 1px solid #f3f3f3;
            border-radius: 20px;
            padding: 30px 20px;
            margin: 0 30px 20px 30px;
        }

        &_container {
            margin: 0 0 0 21px;
        }
        &_desc {
            display: flex;
        }

        &_title {
            line-height: 17px;
            margin: 0 0 8px 0px;
        }

        &_delete {
            cursor: pointer;
        }
    }
}
.total {
    margin: 19px 30px 0 30px;
    &__item {
        display: flex;
        justify-content: space-between;
        margin: 0 0 19px 0;

        &:last-child {
            margin: 0 0 24px 0;
        }
        &_text {
            position: relative;
        }

        &_line {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 14px 0 0 0;

            span {
                position: absolute;
                box-sizing: border-box;
                width: 48%;
                border-bottom: 1px dashed #dfdfdf;
            }
        }
    }
}
