body {
  * {
    margin: 0;
    button {
      border: none;
      background-color: #fff;
    }
  }

  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background-color: #fff;
  max-width: 1080px;
  margin: 50px auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

//////////////MAIN/////////////////
.content {
  margin: 39px 0 0 0;
  padding: 0 60px;

  //////////////TITLE/////////////////

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    box-sizing: border-box;
  }

  &__basket {
  }
}
.search {
  &__icon {
    padding: 0px 13px 0px 0px;
  }

  input {
    border: none;
    outline: none;
  }
}

//////////////CARDS/////////////////
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 40px 0;

  &__item {
    width: 150px;
    padding: 0 30px;
    margin: 0 40px 40px 0;
    border: 1px solid #f3f3f3;
    border-radius: 40px;
    transition: 150ms ease-in-out;

    &:hover {
      border: 1px solid #f8f8f8;
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      border-radius: 40px;
      transform: translateY(-10px);
    }
  }
}
.item {
  &__liked {
    position: absolute;
    padding: 30px 0 0 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }

  &__product {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
  }

  &__desc {
    padding: 14px 0;
    font-weight: 400;
    line-height: 17px;
    color: #000000;
  }

  &__price {
  }
}
.price {
  display: flex;
  justify-content: space-between;
  padding: 0 0 34px 0;
  &__block {
  }

  &__title {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #bdbdbd;
    padding: 0 0 2px 0;
  }

  &__value {
  }

  &__check {
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
}
