body {
  * {
    margin: 0;
    button {
      border: none;
      background-color: #fff;
    }
  }

  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background-color: #fff;
  max-width: 1080px;
  margin: 50px auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

//////////////MAIN/////////////////
.content {
  margin: 39px 0 0 0;
  padding: 0 60px;

  //////////////TITLE/////////////////

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    box-sizing: border-box;
  }

  &__basket {
  }
}
.search {
  &__icon {
    padding: 0px 13px 0px 0px;
  }

  input {
    border: none;
    outline: none;
  }
}
