.top {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    box-sizing: border-box;

    &__icon {
        padding: 0px 13px 0px 0px;
    }

    input {
        border: none;
        outline: none;
    }
}
